page-tabs {
   
}
.tabs-md .tabbar {
    background: #003366;
}
// all tabs texts
.tabs-md .tab-button-text {
	font-size: 14px;
	color: #fff;
}
// selected tab
.tabs-md .tab-button[aria-selected=true] {
	//background-color: #fff;
}